
#loggedInIndicator {
  margin-bottom: 30px;
  color: white;
}

#submitNewBlog {
  margin-top: 10px;
}

#toggalbeShowButton {
  margin-bottom: 10px;
}

#toggalbeCancelButton {
  margin-bottom: 10px;
}

#loggedInText {
  color: #047bfe;
}

#logOutButton {
  text-align: center;
  vertical-align: middle;
}

#loginButton {
  margin-top: 10px;
}

#addCommentButton {
  margin-top: 10px;
}

#singleBlogTitle {
  margin: 15px;
}

.note {
    color: rgb(233, 125, 125);
    padding-top: 3px;
    font-size: 15px;
}

.menuItem {
  padding: 5px;
  float: left;
  height: 10px;
}

.error {
  color: gray;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.homeBlogImage {
  alt: "A picture associated with the blog post";
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 50%;
  height: auto;
  padding: 10px;

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.homeBlogLikes {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.homeBlogTitles {
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.singleBlogImage {
  max-width: 50%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}